# ODI World Cup 2023 Data Set Processing and Transformation

In [1]:
#import Libraries
import pandas as pd

## 1.Match Results Processing and Transformation

In [2]:
df_match=pd.read_csv("G:/UpGrad Business Analyst Course/Python/Projects/ODI World Cup 2023 Best 11 Analysis/Data Set and Problem Statement/dim_match_summary.csv")
df_match.head()

,Match_No,Team 1,Team 2,Winner,Margin,Ground,Match_Date,Scorecard
0,48,India,Australia,Australia,6 wickets,Ahmedabad,"Nov 19, 2023",ODI # 4705
1,47,Australia,South Africa,Australia,3 wickets,Eden Gardens,"Nov 16, 2023",ODI # 4704
2,46,India,New Zealand,India,70 runs,Wankhede,"Nov 15, 2023",ODI # 4703
3,45,India,Netherlands,India,160 runs,Bengaluru,"Nov 12, 2023",ODI # 4702
4,44,England,Pakistan,England,93 runs,Eden Gardens,"Nov 11, 2023",ODI # 4701

In [3]:
df_match.shape

(48, 8)

#### Rename Scorecard as Match_id to link data with other tables

In [4]:
df_match.rename({"Scorecard":"Match_ID"}, axis=1, inplace=True)
df_match.head()

,Match_No,Team 1,Team 2,Winner,Margin,Ground,Match_Date,Match_ID
0,48,India,Australia,Australia,6 wickets,Ahmedabad,"Nov 19, 2023",ODI # 4705
1,47,Australia,South Africa,Australia,3 wickets,Eden Gardens,"Nov 16, 2023",ODI # 4704
2,46,India,New Zealand,India,70 runs,Wankhede,"Nov 15, 2023",ODI # 4703
3,45,India,Netherlands,India,160 runs,Bengaluru,"Nov 12, 2023",ODI # 4702
4,44,England,Pakistan,England,93 runs,Eden Gardens,"Nov 11, 2023",ODI # 4701

#### Creating New Columns

##### Creating a new column "Stage" depending upon at which stage of the tournament the match is played

In [5]:
df_match["Stage"]=df_match["Match_No"].apply(lambda x: "Group Stage" if x<46 else "Knockouts")
df_match.head()

,Match_No,Team 1,Team 2,Winner,Margin,Ground,Match_Date,Match_ID,Stage
0,48,India,Australia,Australia,6 wickets,Ahmedabad,"Nov 19, 2023",ODI # 4705,Knockouts
1,47,Australia,South Africa,Australia,3 wickets,Eden Gardens,"Nov 16, 2023",ODI # 4704,Knockouts
2,46,India,New Zealand,India,70 runs,Wankhede,"Nov 15, 2023",ODI # 4703,Knockouts
3,45,India,Netherlands,India,160 runs,Bengaluru,"Nov 12, 2023",ODI # 4702,Group Stage
4,44,England,Pakistan,England,93 runs,Eden Gardens,"Nov 11, 2023",ODI # 4701,Group Stage

#### Creating a Match_Id dictionary to map Match Number to a unique Match_ID to link with other tables

In [6]:
match_ids_dict = {}

for index, row in df_match.iterrows():
    key1 = row["Match_No"]
    match_ids_dict[key1] = row["Match_ID"]


match_ids_dict

{48: 'ODI # 4705',
 47: 'ODI # 4704',
 46: 'ODI # 4703',
 45: 'ODI # 4702',
 44: 'ODI # 4701',
 43: 'ODI # 4700',
 42: 'ODI # 4699',
 41: 'ODI # 4698',
 40: 'ODI # 4697',
 39: 'ODI # 4696',
 38: 'ODI # 4695',
 37: 'ODI # 4694',
 36: 'ODI # 4693',
 35: 'ODI # 4692',
 34: 'ODI # 4691',
 33: 'ODI # 4690',
 32: 'ODI # 4689',
 31: 'ODI # 4688',
 30: 'ODI # 4687',
 29: 'ODI # 4686',
 28: 'ODI # 4685',
 27: 'ODI # 4684',
 26: 'ODI # 4683',
 25: 'ODI # 4682',
 24: 'ODI # 4681',
 23: 'ODI # 4680',
 22: 'ODI # 4679',
 21: 'ODI # 4678',
 20: 'ODI # 4677',
 19: 'ODI # 4676',
 18: 'ODI # 4675',
 17: 'ODI # 4674',
 16: 'ODI # 4673',
 15: 'ODI # 4672',
 14: 'ODI # 4671',
 13: 'ODI # 4670',
 12: 'ODI # 4669',
 11: 'ODI # 4668',
 10: 'ODI # 4667',
 9: 'ODI # 4666',
 8: 'ODI # 4665',
 7: 'ODI # 4664',
 6: 'ODI # 4663',
 5: 'ODI # 4662',
 4: 'ODI # 4661',
 3: 'ODI # 4660',
 2: 'ODI # 4659',
 1: 'ODI # 4658'}

In [7]:
df_match.to_csv("G:/UpGrad Business Analyst Course/Python/Projects/ODI World Cup 2023 Best 11 Analysis/Data Set and Problem Statement/dim_match_summary.csv", index = False)

## 2.Batting Summary Processing and Transformation

In [8]:
df_batting=pd.read_csv("G:/UpGrad Business Analyst Course/Python/Projects/ODI World Cup 2023 Best 11 Analysis/Data Set and Problem Statement/fact_batting_summary.csv")
df_batting.head(10)

,Match_No,Match_Between,Team_Innings,Batsman_Name,Batting_Position,Dismissal,Runs,Balls,4s,6s,Strike_Rate
0,1,England vs New Zealand,England,Jonny Bairstow,1,c Daryl Mitchell b Mitchell Santner,33,35,4,1,94.3
1,1,England vs New Zealand,England,Dawid Malan,2,c Tom Latham b Matt Henry,14,24,2,0,58.3
2,1,England vs New Zealand,England,Joe Root,3,b Glenn Phillips,77,86,4,1,89.5
3,1,England vs New Zealand,England,Harry Brook,4,c Devon Conway b Rachin Ravindra,25,16,4,1,156.3
4,1,England vs New Zealand,England,Moeen Ali,5,b Glenn Phillips,11,17,1,0,64.7
5,1,England vs New Zealand,England,Jos Buttler,6,c Tom Latham b Matt Henry,43,42,2,2,102.4
6,1,England vs New Zealand,England,Liam Livingstone,7,c Matt Henry b Trent Boult,20,22,3,0,90.9
7,1,England vs New Zealand,England,Sam Curran,8,c Tom Latham b Matt Henry,14,19,0,0,73.7
8,1,England vs New Zealand,England,Chris Woakes,9,c Will Young b Mitchell Santner,11,12,1,0,91.7
9,1,England vs New Zealand,England,Adil Rashid,10,not out,15,13,0,1,115.4

#### Creating New Columns

##### Creating a new column "Out" which tells if the batsman is Out or Not Out

In [9]:
df_batting["Out"]=df_batting["Dismissal"].apply(lambda x: 0 if x=="not out" else 1)
df_batting.head(10)

,Match_No,Match_Between,Team_Innings,Batsman_Name,Batting_Position,Dismissal,Runs,Balls,4s,6s,Strike_Rate,Out
0,1,England vs New Zealand,England,Jonny Bairstow,1,c Daryl Mitchell b Mitchell Santner,33,35,4,1,94.3,1
1,1,England vs New Zealand,England,Dawid Malan,2,c Tom Latham b Matt Henry,14,24,2,0,58.3,1
2,1,England vs New Zealand,England,Joe Root,3,b Glenn Phillips,77,86,4,1,89.5,1
3,1,England vs New Zealand,England,Harry Brook,4,c Devon Conway b Rachin Ravindra,25,16,4,1,156.3,1
4,1,England vs New Zealand,England,Moeen Ali,5,b Glenn Phillips,11,17,1,0,64.7,1
5,1,England vs New Zealand,England,Jos Buttler,6,c Tom Latham b Matt Henry,43,42,2,2,102.4,1
6,1,England vs New Zealand,England,Liam Livingstone,7,c Matt Henry b Trent Boult,20,22,3,0,90.9,1
7,1,England vs New Zealand,England,Sam Curran,8,c Tom Latham b Matt Henry,14,19,0,0,73.7,1
8,1,England vs New Zealand,England,Chris Woakes,9,c Will Young b Mitchell Santner,11,12,1,0,91.7,1
9,1,England vs New Zealand,England,Adil Rashid,10,not out,15,13,0,1,115.4,0

##### Creating a new column "Boundary Runs" which represents the runs scored by batsman in boundaries

In [10]:
def boundary_runs(a,b):
    return a*4+b*6

df_batting["Boundary_Runs"]=df_batting.apply(lambda x: boundary_runs(x["4s"], x["6s"]), axis=1)
df_batting.head()

,Match_No,Match_Between,Team_Innings,Batsman_Name,Batting_Position,Dismissal,Runs,Balls,4s,6s,Strike_Rate,Out,Boundary_Runs
0,1,England vs New Zealand,England,Jonny Bairstow,1,c Daryl Mitchell b Mitchell Santner,33,35,4,1,94.3,1,22
1,1,England vs New Zealand,England,Dawid Malan,2,c Tom Latham b Matt Henry,14,24,2,0,58.3,1,8
2,1,England vs New Zealand,England,Joe Root,3,b Glenn Phillips,77,86,4,1,89.5,1,22
3,1,England vs New Zealand,England,Harry Brook,4,c Devon Conway b Rachin Ravindra,25,16,4,1,156.3,1,22
4,1,England vs New Zealand,England,Moeen Ali,5,b Glenn Phillips,11,17,1,0,64.7,1,4

#### Mapping Match_Id dictionary

In [11]:
df_batting["Match_ID"]=df_batting["Match_No"].map(match_ids_dict)
df_batting.head(20)

,Match_No,Match_Between,Team_Innings,Batsman_Name,Batting_Position,Dismissal,Runs,Balls,4s,6s,Strike_Rate,Out,Boundary_Runs,Match_ID
0,1,England vs New Zealand,England,Jonny Bairstow,1,c Daryl Mitchell b Mitchell Santner,33,35,4,1,94.3,1,22,ODI # 4658
1,1,England vs New Zealand,England,Dawid Malan,2,c Tom Latham b Matt Henry,14,24,2,0,58.3,1,8,ODI # 4658
2,1,England vs New Zealand,England,Joe Root,3,b Glenn Phillips,77,86,4,1,89.5,1,22,ODI # 4658
3,1,England vs New Zealand,England,Harry Brook,4,c Devon Conway b Rachin Ravindra,25,16,4,1,156.3,1,22,ODI # 4658
4,1,England vs New Zealand,England,Moeen Ali,5,b Glenn Phillips,11,17,1,0,64.7,1,4,ODI # 4658
5,1,England vs New Zealand,England,Jos Buttler,6,c Tom Latham b Matt Henry,43,42,2,2,102.4,1,20,ODI # 4658
6,1,England vs New Zealand,England,Liam Livingstone,7,c Matt Henry b Trent Boult,20,22,3,0,90.9,1,12,ODI # 4658
7,1,England vs New Zealand,England,Sam Curran,8,c Tom Latham b Matt Henry,14,19,0,0,73.7,1,0,ODI # 4658
8,1,England vs New Zealand,England,Chris Woakes,9,c Will Young b Mitchell Santner,11,12,1,0,91.7,1,4,ODI # 4658
9,1,England vs New Zealand,England,Adil Rashid,10,not out,15,13,0,1,115.4,0,6,ODI # 4658
10,1,England vs New Zealand,England,Mark Wood,11,not out,13,14,0,0,92.9,0,0,ODI # 4658
11,1,England vs New Zealand,New Zealand,Devon Conway,1,not out,152,121,19,3,125.6,0,94,ODI # 4658
12,1,England vs New Zealand,New Zealand,Will Young,2,c Jos Buttler b Sam Curran,0,1,0,0,0,1,0,ODI # 4658
13,1,England vs New Zealand,New Zealand,Rachin Ravindra,3,not out,123,96,11,5,128.1,0,74,ODI # 4658
14,2,Pakistan vs Netherlands,Pakistan,Fakhar Zaman,1,c & b Logan van Beek,12,15,3,0,80,1,12,ODI # 4659
15,2,Pakistan vs Netherlands,Pakistan,Imam-ul-Haq,2,c Aryan Dutt b Paul van Meekeren,15,19,2,0,78.9,1,8,ODI # 4659
16,2,Pakistan vs Netherlands,Pakistan,Babar Azam,3,c Saqib Zulfiqar b Colin Ackermann,5,18,0,0,27.8,1,0,ODI # 4659
17,2,Pakistan vs Netherlands,Pakistan,Mohammad Rizwan,4,b Bas de Leede,68,75,8,0,90.7,1,32,ODI # 4659
18,2,Pakistan vs Netherlands,Pakistan,Saud Shakeel,5,c Saqib Zulfiqar b Aryan Dutt,68,52,9,1,130.8,1,42,ODI # 4659
19,2,Pakistan vs Netherlands,Pakistan,Iftikhar Ahmed,6,c Scott Edwards b Bas de Leede,9,11,1,0,81.8,1,4,ODI # 4659

#### Renaming and Dropping columns

In [12]:
df_batting.rename({"4s":"Fours","6s":"Sixes"}, axis=1, inplace=True)
df_batting.drop(columns=["Dismissal"], inplace=True)
df_batting.head()

,Match_No,Match_Between,Team_Innings,Batsman_Name,Batting_Position,Runs,Balls,Fours,Sixes,Strike_Rate,Out,Boundary_Runs,Match_ID
0,1,England vs New Zealand,England,Jonny Bairstow,1,33,35,4,1,94.3,1,22,ODI # 4658
1,1,England vs New Zealand,England,Dawid Malan,2,14,24,2,0,58.3,1,8,ODI # 4658
2,1,England vs New Zealand,England,Joe Root,3,77,86,4,1,89.5,1,22,ODI # 4658
3,1,England vs New Zealand,England,Harry Brook,4,25,16,4,1,156.3,1,22,ODI # 4658
4,1,England vs New Zealand,England,Moeen Ali,5,11,17,1,0,64.7,1,4,ODI # 4658

In [13]:
df_batting.to_csv("G:/UpGrad Business Analyst Course/Python/Projects/ODI World Cup 2023 Best 11 Analysis/Data Set and Problem Statement/fact_batting_summary.csv", index = False)

## 3.Bowling Summary Processing and Transformation

In [14]:
df_bowling=pd.read_csv("G:/UpGrad Business Analyst Course/Python/Projects/ODI World Cup 2023 Best 11 Analysis/Data Set and Problem Statement/fact_bowling_summary.csv")
df_bowling.head()

,Match_No,Match_Between,Bowling_Team,Bowler_Name,Overs,Maidens,Runs,Wickets,Economy,0s,4s,6s,wides,no balls
0,1,England vs New Zealand,New Zealand,Trent Boult,10.0,1,48,1,4.8,34,3,2,1,0
1,1,England vs New Zealand,New Zealand,Matt Henry,10.0,1,48,3,4.8,31,6,0,0,0
2,1,England vs New Zealand,New Zealand,Mitchell Santner,10.0,0,37,2,3.7,26,0,0,1,0
3,1,England vs New Zealand,New Zealand,James Neesham,7.0,0,56,0,8.0,15,5,2,2,0
4,1,England vs New Zealand,New Zealand,Rachin Ravindra,10.0,0,76,1,7.6,14,6,2,0,0

#### Creating New Columns

##### Creating a new column "Boundary Runs Conceded" which represents the total runs conceded by the bowled by the bowler in boundaries

In [15]:
def boundary_runs_conceded(a,b):
    return a*4+b*6

df_bowling["Boundary_Runs_Conceded"]=df_bowling.apply(lambda x: boundary_runs_conceded(x["4s"], x["6s"]), axis=1)
df_bowling.head()

,Match_No,Match_Between,Bowling_Team,Bowler_Name,Overs,Maidens,Runs,Wickets,Economy,0s,4s,6s,wides,no balls,Boundary_Runs_Conceded
0,1,England vs New Zealand,New Zealand,Trent Boult,10.0,1,48,1,4.8,34,3,2,1,0,24
1,1,England vs New Zealand,New Zealand,Matt Henry,10.0,1,48,3,4.8,31,6,0,0,0,24
2,1,England vs New Zealand,New Zealand,Mitchell Santner,10.0,0,37,2,3.7,26,0,0,1,0,0
3,1,England vs New Zealand,New Zealand,James Neesham,7.0,0,56,0,8.0,15,5,2,2,0,32
4,1,England vs New Zealand,New Zealand,Rachin Ravindra,10.0,0,76,1,7.6,14,6,2,0,0,36

#### Mapping Match ID Dictionary

In [16]:
df_bowling["Match_ID"] = df_bowling["Match_No"].map(match_ids_dict)
df_bowling.head()

,Match_No,Match_Between,Bowling_Team,Bowler_Name,Overs,Maidens,Runs,Wickets,Economy,0s,4s,6s,wides,no balls,Boundary_Runs_Conceded,Match_ID
0,1,England vs New Zealand,New Zealand,Trent Boult,10.0,1,48,1,4.8,34,3,2,1,0,24,ODI # 4658
1,1,England vs New Zealand,New Zealand,Matt Henry,10.0,1,48,3,4.8,31,6,0,0,0,24,ODI # 4658
2,1,England vs New Zealand,New Zealand,Mitchell Santner,10.0,0,37,2,3.7,26,0,0,1,0,0,ODI # 4658
3,1,England vs New Zealand,New Zealand,James Neesham,7.0,0,56,0,8.0,15,5,2,2,0,32,ODI # 4658
4,1,England vs New Zealand,New Zealand,Rachin Ravindra,10.0,0,76,1,7.6,14,6,2,0,0,36,ODI # 4658

#### Renaming columns

In [17]:
df_bowling.rename({"4s":"Fours","6s":"Sixes","0s":"Zeros","wides":"Wides","no balls":"No_Balls"}, axis=1, inplace=True)
df_bowling.head()

,Match_No,Match_Between,Bowling_Team,Bowler_Name,Overs,Maidens,Runs,Wickets,Economy,Zeros,Fours,Sixes,Wides,No_Balls,Boundary_Runs_Conceded,Match_ID
0,1,England vs New Zealand,New Zealand,Trent Boult,10.0,1,48,1,4.8,34,3,2,1,0,24,ODI # 4658
1,1,England vs New Zealand,New Zealand,Matt Henry,10.0,1,48,3,4.8,31,6,0,0,0,24,ODI # 4658
2,1,England vs New Zealand,New Zealand,Mitchell Santner,10.0,0,37,2,3.7,26,0,0,1,0,0,ODI # 4658
3,1,England vs New Zealand,New Zealand,James Neesham,7.0,0,56,0,8.0,15,5,2,2,0,32,ODI # 4658
4,1,England vs New Zealand,New Zealand,Rachin Ravindra,10.0,0,76,1,7.6,14,6,2,0,0,36,ODI # 4658

In [18]:
df_bowling.to_csv("G:/UpGrad Business Analyst Course/Python/Projects/ODI World Cup 2023 Best 11 Analysis/Data Set and Problem Statement/fact_bowling_summary.csv", index = False)

## 4.Players Summary Transformation and Processing

In [19]:
df_players=pd.read_csv("G:/UpGrad Business Analyst Course/Python/Projects/ODI World Cup 2023 Best 11 Analysis/Data Set and Problem Statement/dim_players.csv")
df_players.head()

,Player_Name,Team_Name,Image_Of_Player,Batting_Style,Bowling_Style,Playing_Role,Description
0,Jonny Bairstow,England,,Right-hand bat,Right-arm fast-medium,Wicketkeeper Batter,Jonny Bairstow is an English cricketer known f...
1,Joe Root,England,,Right hand Bat,Right arm Offbreak,Top order Batter,Joe Root is an English cricketer known for his...
2,Jos Buttler [c],England,,Right hand Bat,,Wicketkeeper Batter,Jos Buttler is an English cricketer known for ...
3,Will Young,New Zealand,,Right hand Bat,Right arm Offbreak,Top order Batter,Will Young is a New Zealand cricketer known fo...
4,Rachin Ravindra,New Zealand,,Left hand Bat,Slow Left arm Orthodox,Top order Batter,Rachin Ravindra is a New Zealand cricketer kno...

#### Removing Extra Characters

In [20]:
df_players["Player_Name"] = df_players["Player_Name"].apply(lambda x: x.replace("[c]", " "))
df_players.head()

,Player_Name,Team_Name,Image_Of_Player,Batting_Style,Bowling_Style,Playing_Role,Description
0,Jonny Bairstow,England,,Right-hand bat,Right-arm fast-medium,Wicketkeeper Batter,Jonny Bairstow is an English cricketer known f...
1,Joe Root,England,,Right hand Bat,Right arm Offbreak,Top order Batter,Joe Root is an English cricketer known for his...
2,Jos Buttler,England,,Right hand Bat,,Wicketkeeper Batter,Jos Buttler is an English cricketer known for ...
3,Will Young,New Zealand,,Right hand Bat,Right arm Offbreak,Top order Batter,Will Young is a New Zealand cricketer known fo...
4,Rachin Ravindra,New Zealand,,Left hand Bat,Slow Left arm Orthodox,Top order Batter,Rachin Ravindra is a New Zealand cricketer kno...

In [21]:
df_players.to_csv("G:/UpGrad Business Analyst Course/Python/Projects/ODI World Cup 2023 Best 11 Analysis/Data Set and Problem Statement/dim_players.csv", index = False)